* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
.chartMenu {
    width: 100vw;
    height: 40px;
    background: #1A1A1A;
}
.chartMenu p {
    padding: 10px;
    font-size: 20px;
}
.chartCard {
    width: 100vw;
    height: calc(70vh);
    
    display: flex;
    align-items: center;
    justify-content: center;
}
.chartBox {
    width: 1000px;
    padding: 20px;
    border-radius: 20px;
    border: solid 3px rgba(0,0,0);
    background: rgb(185, 185, 185);
}

html {
    font-size: 62.5%;
}

.bo {
    background-color: rgb(76, 76, 76);
    box-sizing: border-box;
    position: relative;
    line-height: 1.5;
    font-family: sans-serif;
    overflow-x: hidden;
    overflow-y: scroll;
    font-family: 'Source Sans Pro', sans-serif;
}

.text-primary {
    color: #fff;
    font-size: 2.5rem;
    text-align: center;
    width: 100%;
    line-height: 1.6;
}

.header {
    position: fixed;
    width: 100%;
    z-index: 1000;
    background: #000;
    background: #000;
}

.header__content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 5rem;
    
}

.header__logo-sub {
    font-size: 1.8rem;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 1px;
}

.header__links {
    display: flex;
}

@media only screen and (max-width: 37.5em) {
.header__links {
    display: none;
}
}

.header__link {
    padding: 2.2rem 3rem;
    display: inline-block;
    font-size: 1.6rem;
    color: #0088ff;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 700;
    transition: color .3s;
}

.phrase{
  text-align: center;
  font-size: 2rem;
  padding:10px;
  color: rgba(255, 255, 255, 0.8);
  text-shadow: 0 10px 10px rgba(0, 0, 0, 0.5);
}
